<section class="presentacion mt-3 container">
    <div class="playlist d-flex">
        <img class="favoritesIcon ms-5" width="225px" height="225px" src="assets/img/IconDisc.png">
        <div class="textoPlaylist d-flex flex-column">
            <label class="txtPlaylist text-white fw-semibold">Playlist</label>
            <label class="txtMeGusta text-white fw-bold">Tus Favoritos</label>
            <label class="txtUser text-white ms-2 fw-bold">SoyJers • <label class="txtNumberSongs">1
                    Canción</label></label>

        </div>
    </div>



        <div class="fondo">
            <div class="tools">
                <div class="btnPlay">
                    <button class="btn btnRep mt-5 ms-5"><i class="fa-solid fa-play fa-xl"
                            style="color: #000000;"></i></button>
                </div>
                <div class="text col-12 d-flex container mt-5">
                    <div class="col-2">
                        <i class="fa-solid fa-heart-circle-check ms-5" style="color: #aaa;"></i>
                    </div>
                    <div class="col-5">
                        <label class="ms-5 fw-bold" style="color: #aaa;">Título</label>
                    </div>
                    <div class="col-4">
                        <label class="fw-bold ms-5" style="color: #aaa;">Álbum</label>
                    </div>
                    <div class="col-2">
                        <i class="fa-regular fa-clock ms-4" style="color: #aaa;"></i>
                    </div>
                </div>
            </div>

            <hr role="presentation" class="LineaSeparacion">

            <div class="listaCanciones">
                <ol>
                    <li >
                           <button class="btn col-12 d-flex" >
                            <div class="d-flex justify-content-start mt-3 col-2 ms-3">
                                <label>
                                    <input type="checkbox">
                                    <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <path
                                            d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                                        </path>
                                    </svg>
                                </label>
                            </div>

                            <div class="col-5 d-flex mt-1">
                                <img class="imagenCancion" src="assets/img/solMaria.jpeg" alt="" width="50px" height="50px">
                                <div class="textoTitulo d-flex flex-column align-items-start justify-content-center ms-3">
                                    <h5 class="textCancion mt-1">Hey Lil Mama</h5>
                                    <h5 class="textArtista">Eladio Carrió & Rauw Alejandro</h5>
                                </div>
                            </div>
                            <div class="col-4">
                                <label class="txtAbum fw-semibold d-flex align-items-start mt-3 ms-3 text-white">Sol
                                    María</label>
                            </div>
                            <div class="col-2">
                                <label class="text-white fw-semibold d-flex align-items-start mt-3">3:36</label>
                            </div>
                        </button>
                    </li>
                </ol>

            </div>


        </div>
</section>

<hr role="presentation" class="LineaSeparacion2">
