<section class="presentacion mt-3 container">
    <div class="CajaAtista d-flex">
        <img class="imgArtista ms-5" width="225px" height="225px" src="../../../assets/img/Artistas/EladioCarrion.jpg">
        <div class="textoArtista d-flex flex-column">
            <label class="txtPlaylist text-white fw-semibold">Artista</label>
            <label class="txtNameArtista text-white fw-bold">Eladio Carrion</label>
            <label class="txtAlbumes text-white ms-2 fw-bold">Álbumes</label>

        </div>
    </div>

    <div class="tools">
        <div class="btnPlay">
            <button class="btn btnRep mt-5 ms-5"><i class="fa-solid fa-play fa-xl" style="color: #000000;"></i></button>
        </div>

    </div>

    <div class="popular">
        <div class="textoCancionesPopulares">
            <h1 class="txtFirst fw-bold">Popular</h1>
        </div>

        <ol class="mt-4">
            <li>
                <button class="btn col-8 d-flex">

                    <div class="col-9 d-flex mt-1">
                        <img class="imagenCancion" src="assets/img/solMaria.jpeg" alt="" width="50px" height="50px">
                        <div class="textoTitulo d-flex flex-column align-items-start justify-content-center ms-3">
                            <h5 class="textCancion mt-1">Hey Lil Mama</h5>
                            <h5 class="textArtista">Eladio Carrión & Rauw Alejandro</h5>
                        </div>
                    </div>
                    <div class="col-2">
                        <label class="text-white fw-semibold d-flex align-items-start mt-3">3:36</label>
                    </div>
                    <div class="d-flex justify-content-start mt-3 col-2 ms-3">
                        <label>
                            <input type="checkbox">
                            <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path
                                    d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                                </path>
                            </svg>
                        </label>
                    </div>
                </button>

                <button class="btn col-8 d-flex">

                    <div class="col-9 d-flex mt-1">
                        <img class="imagenCancion" src="assets/img/Albumes/3MEN2 KBRN - Eladio Carrion.jpg" alt=""
                            width="50px" height="50px">
                        <div class="textoTitulo d-flex flex-column align-items-start justify-content-center ms-3">
                            <h5 class="textCancion mt-1">Coco Chanel</h5>
                            <h5 class="textArtista">Eladio Carrión & Bad Bunny</h5>
                        </div>
                    </div>
                    <div class="col-2">
                        <label class="text-white fw-semibold d-flex align-items-start mt-3">3:28</label>
                    </div>
                    <div class="d-flex justify-content-start mt-3 col-2 ms-3">
                        <label>
                            <input type="checkbox">
                            <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path
                                    d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                                </path>
                            </svg>
                        </label>
                    </div>
                </button>

                <button class="btn col-8 d-flex">

                    <div class="col-9 d-flex mt-1">
                        <img class="imagenCancion" src="assets/img/solMaria.jpeg" alt="" width="50px" height="50px">
                        <div class="textoTitulo d-flex flex-column align-items-start justify-content-center ms-3">
                            <h5 class="textCancion mt-1">TQMQA</h5>
                            <h5 class="textArtista">Eladio Carrión</h5>
                        </div>
                    </div>
                    <div class="col-2">
                        <label class="text-white fw-semibold d-flex align-items-start mt-3">2:50</label>
                    </div>
                    <div class="d-flex justify-content-start mt-3 col-2 ms-3">
                        <label>
                            <input type="checkbox">
                            <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path
                                    d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                                </path>
                            </svg>
                        </label>
                    </div>
                </button>

                <button class="btn col-8 d-flex">

                    <div class="col-9 d-flex mt-1">
                        <img class="imagenCancion" src="assets/img/Albumes/3MEN2 KBRN - Eladio Carrion.jpg" alt=""
                            width="50px" height="50px">
                        <div class="textoTitulo d-flex flex-column align-items-start justify-content-center ms-3">
                            <h5 class="textCancion mt-1">Quizás, Tal Vez</h5>
                            <h5 class="textArtista">Eladio Carrión</h5>
                        </div>
                    </div>
                    <div class="col-2">
                        <label class="text-white fw-semibold d-flex align-items-start mt-3">2:28</label>
                    </div>
                    <div class="d-flex justify-content-start mt-3 col-2 ms-3">
                        <label>
                            <input type="checkbox">
                            <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path
                                    d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                                </path>
                            </svg>
                        </label>
                    </div>
                </button>

                <button class="btn col-8 d-flex">

                    <div class="col-9 d-flex mt-1">
                        <img class="imagenCancion" src="assets/img/Albumes/3MEN2 KBRN - Eladio Carrion.jpg" alt=""
                            width="50px" height="50px">
                        <div class="textoTitulo d-flex flex-column align-items-start justify-content-center ms-3">
                            <h5 class="textCancion mt-1">Air France</h5>
                            <h5 class="textArtista">Eladio Carrión</h5>
                        </div>
                    </div>
                    <div class="col-2">
                        <label class="text-white fw-semibold d-flex align-items-start mt-3">3:06</label>
                    </div>
                    <div class="d-flex justify-content-start mt-3 col-2 ms-3">
                        <label>
                            <input type="checkbox">
                            <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path
                                    d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z">
                                </path>
                            </svg>
                        </label>
                    </div>
                </button>

            </li>
        </ol>
    </div>

    <div class="discografia">
        <div class="textoDiscos">
            <h1 class="txtFirst fw-bold">Discografía</h1>
        </div>

        <div class="albumes d-flex">
            <div class="carad2">
                <button class="btn">
                    <img src="assets/img/solMaria.jpeg" class="card-img-top w-100" alt="...">
                    <div class="card-body mt-2 d-flex flex-column align-items-start txt-album">
                        <h5 class="card-title textAlbum">Sol María</h5>
                        <h5 class="card-text txtArtistaAlbum">Eladio Carrión</h5>
                    </div>
                </button>
            </div>

            <div class="carad2">
                <button class="btn">
                    <img src="assets/img/Albumes/3MEN2 KBRN - Eladio Carrion.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body mt-2 d-flex flex-column align-items-start txt-album">
                        <h5 class="card-title textAlbum">3MEN2 KBRN</h5>
                        <h5 class="card-text txtArtistaAlbum">Eladio Carrión</h5>
                    </div>
                </button>

            </div>
        </div>
    </div>

    <div class="Acerca">
        <div class="textoAcerca">
            <h1 class="txtFirst fw-bold">Acerca De</h1>
        </div>

        <div class="card">
            <img src="../../../assets/img/EladioCarrionBackground.jpg" alt="">
            <div class="card__content d-flex">

                    <img class="imgCircle" src="../../../assets/img/EladioCarrionBackgroundCircle.png" alt="">
                   <div class="d-flex flex-column ms-4">
                    <p class="card__title fw-bold">Eladio Carrión</p>
                    <p class="card__description">Eladio Carrión es un rapero y cantautor multiplatino, ganador del Latin GRAMMY, que se ha consolidado como uno de los actos musicales más cautivadores del trap y el reggaetón en español. Carrión ha tenido un impacto impresionante con 6 álbumes, 4 de los cuales han alcanzado el top 10 en los “Top Latin Albums” de Billboard. Es aclamado internacionalmente por sus estelares improvisaciones y habilidades de estilo libre, que demuestran su notable versatilidad creativa. Sus videos musicales tienen más de 964 millones de visitas en YouTube, mientras que su música ha acumulado más de 400 millones de reproducciones en plataformas de transmisión digital.</p>

                   </div>
            </div>
        </div>


    </div>






</section>

<hr role="presentation" class="LineaSeparacion2">