.imgArtista {
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 30px;
    box-shadow: 5px 5px 5px 5px #ffffff;

}

.presentacion {
    border-radius: 5px;
    height: 2000px;
    background: rgb(28, 12, 111);
    background: linear-gradient(180deg, rgba(28, 12, 111, 1) 0%, rgba(18, 18, 18, 1) 25%);
}

.CajaAtista {
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}

.textoArtista {
    margin-left: 50px;
    margin-top: 120px;
}

.txtNameArtista {
    font-size: 80px;

}

.txtAlbumes {
    font-size: 15px;
    transform: translateY(21px);
}

.btnRep {
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
    background-color: #ffffff;
    transform: translateY(-25px);
}

.btnRep:hover {
    background-color: #03690b;
}

.tools {
    transform: translateY(21px);
}

.LineaSeparacion {
    margin: 30px 0px;
    color: #fff;
}

.textoCancionesPopulares {
    color: #fff;
    margin-top: 100px;
    margin-left: 50px;
}

.txtFirst {
    font-size: 25px;
}

li {
    list-style: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.container svg {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    transition: all 0.3s;
    fill: #03690B;
}

.container svg:hover {
    transform: scale(1.1);
}

.container input:checked~svg {
    fill: #666;
}

.textCancion {
    color: #fff;
    font-size: 18px;
}

.textArtista {
    color: #aaa;
    font-size: 13px;
}

.txtAbum {
    font-size: 18px;
}

.textoDiscos {
    color: #fff;
    margin-top: 50px;
    margin-left: 50px;
}


.carad2 {
    width: 200px;
    height: 260px;
    background-color: #232323;
    border-radius: 5px;
    margin-left: 35px;
    margin-right: 10px;
    margin-top: 40px;
}

.carad2:hover {
    box-shadow: 0px 0px 30px 1px #ffffff4d;
}

.textAlbum {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.txtArtistaAlbum {
    font-size: 13px;
    color: #999999;
}

.txt-album{
    transform: translateY(10px);
}

.textoAcerca{
    color: #fff;
    margin-top: 50px;
    margin-left: 50px;
}

.card {
    margin-top: 50px;
    margin-left: 35px;
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #121212;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #212121;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card:hover .card__content {
    transform: rotateX(0deg);
  }

  .card__title {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
  }

  .card:hover svg {
    scale: 0;
  }

  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #999;
    line-height: 1.4;
  }

  .imgCircle{
    border-radius: 50px;
    height: 200px;
    width: 200px;
  }