<section class="presentacion mt-3 container">
    <div class="CajaAtista d-flex">
        <img class="imgArtista ms-5" width="225px" height="225px" [src]="imgArtista">
        <div class="textoArtista d-flex flex-column">
            <label class="txtPlaylist text-white fw-semibold">Artista</label>
            <label class="txtNameArtista text-white fw-bold">{{cantante}}</label>
            <label class="txtAlbumes text-white ms-2 fw-bold">Álbumes</label>

        </div>
    </div>


   
</section>