@if (session) {

<main class="row">
    <section class="col-3">
        <section class="sticky-top barralateral" >
            <app-barralateral></app-barralateral>
        </section>
    </section>
    <section class="col-9">
        <section class="sticky-top">
            <app-nav></app-nav>
        </section>


        <router-outlet></router-outlet>

    </section>
    <section class="col-12 fixed-bottom fixed-bottom ">
        <app-reproductor></app-reproductor>
    </section>

</main>



}@else{
<router-outlet></router-outlet>
}
