
<main class="row">
    <section class="col-3">
       <app-barralateral></app-barralateral>
    </section>
    <section class="col-9">
        app-nav
        
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi est possimus sed nobis, fuga aliquam quo atque ea voluptatem veritatis non commodi cupiditate incidunt cumque? Culpa placeat aliquid doloremque molestiae ad reiciendis distinctio incidunt corporis laudantium accusamus, obcaecati quod maxime. Animi, deserunt perferendis itaque pariatur atque sunt nostrum inventore quae corrupti, quis eveniet culpa eaque commodi, necessitatibus magni? Eveniet ducimus aliquam cum quasi ipsam similique sunt? Laboriosam non quidem placeat veritatis itaque neque quia minus repellat tempora molestiae? Placeat explicabo debitis at neque dolorem magni aliquam ex, sunt fugit autem ipsam ab consequatur voluptatibus quia rem facilis nihil, odit amet.
        <router-outlet></router-outlet>
    </section>
    <section class="col-12 fixed-bottom">
        Reproductor
    </section>

    <app-footer></app-footer>
</main>

