<section class="general container">
 <div class="contenido mt-5 ms-5">
  <div class="mb-5">
    <h1 class="title text-white fw-bold">Descubre Todos los Álbumes</h1>
  </div>
 <div class="Albumes">

  <div class="mt-5 mb-5">
    <h1 class="textp fw-bold">Álbumes</h1>
  </div>

  <div class="row row-cols-1 row-cols-md-5 g-6">
  
  
    @for (albumData of albumesData(); track albumData.albumId) {
      <div class="col ">
        <div class="card caja " [routerLink]="['/zoom', albumData._id]" >
          <img [src]="albumData.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title textp">{{ albumData.albumId }}</h5>
            <p class="card-text textp">{{ albumData.artistId }}</p>
          </div>
        </div>
      </div>
      }
  
  
   
  
  </div>
 </div>
 <hr role="presentation" class="LineaSeparacion">
 </div>
</section>