<section class="presentacion mt-3 container">
    <div class="playlist d-flex">
        <img class="favoritesIcon ms-5" width="225px" height="225px" [src]="'http://localhost:4001/'+imgAlbum">
        <div class="textoPlaylist d-flex flex-column">
            <label class="txtPlaylist text-white fw-semibold">Álbum</label>
            <label class="txtMeGusta text-white fw-bold">{{nombreAlbum}}</label>
            <label class="txtUser text-white ms-2 fw-bold"> {{cantante}} </label>

        </div>
    </div>


    <div class="fondo">
        <div class="tools">
            <div class="btnPlay">
                <button class="btn btnRep mt-5 ms-5"><i class="fa-solid fa-play fa-xl"
                        style="color: #000000;"></i></button>
            </div>
            <div class="text col-12 d-flex container mt-5">
                <div class="col-2">
                    <i class="fa-solid fa-heart-circle-check ms-5" style="color: #aaa;"></i>
                </div>
                <div class="col-9">
                    <label class="ms-5 fw-bold" style="color: #aaa;">Título</label>
                </div>
                <div class="col-2 tiempo">
                    <i class="fa-regular tiempo fa-clock ms-4" style="color: #aaa;"></i>
                </div>
            </div>
        </div>

        <hr role="presentation" class="LineaSeparacion">

        <div div class="listaCanciones">
            <ol>
                
                @for (songData of cancionesData; track songData._id) {
                    <app-zoom [imagenCancion]="songData.image" [cantante]="cantante" [nombreCancion]="songData.name" [archivoAudio]="songData.file"></app-zoom>
                }
                 </ol>

            <!-- <app-zoom [imagenCancion]="albumData.image"
                [cantante]="albumData.artistId" [nombreCancion]="albumData._id">
              </app-zoom> -->
        </div>


    </div>
</section>

<hr role="presentation" class="LineaSeparacion2">
