<div class="row ">
    <div class="col-12 caja m-1">
        <ul>
            <div class="d-flex justify-content-center">
                <i class="fa-solid fa-house textoCaja me-2"></i>
                <p class="textoCaja">Home</p>
            </div>
        </ul>
        <ul>
            <div class="d-flex justify-content-center">
                <i class="fa-solid fa-house textoCaja me-2"></i>
                <p class="textoCaja">Home</p>
            </div>
        </ul>
    </div>
    <div class="col-12 ">
        <ul>
            <li>ejemplo</li>
            <li>ejemplo</li>
            <li>ejemplo</li>
            <li>ejemplo</li>
            <li>ejemplo</li>
            <li>ejemplo</li>
            <li>ejemplo</li>
            <li>ejemplo</li>
        </ul>
    </div>
</div>