.caja {
    width: 350px;
    height: 136px;
    background-color: #121212;
    border-radius: 15px;
    margin-left: 30px;

}

.textoCaja {
    font-weight: 900;
    color: #fff;
    

}

.tama {
    height: 24px;
}

.caja2 {
    width: 350px;
    height: 200px;
    background-color: #121212;
    border-radius: 15px;
    margin-left: 30px;

}

.caja3 {
    width: 350px;
    height: 1000px;
    background-color: #121212;
    border-radius: 15px;
    margin-left: 30px;

}

.colortexto {
    color: #d3c4c4;
}

.cajaFoto {
    width: 340px;

}




.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: rgb(0, 134, 0);
    background-color: #03690b;
    width: 150px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(18, 65, 0);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(2, 68, 0);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn::after {
    background-color: #0a2e01;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.alturaNavLateral{
    height: 10px;
}