.contenido {
    background-color: #121212;
    border-radius: 10px;
    width: 1389px;
}

.TextoPrincipal {
    transform: translateY(44px);

}

.textp {
    color: #fff;
}

.artista {
    transform: translateY(40px);
}

.caja {
    background-color: #212121;
    width: 200px;
}

.carad {
    width: 190px;
    height: 254px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}

.carad2 {
    width: 190px;
    height: 254px;
    background-color: #000;

    transition: all .2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px #666;
}

.cajaSliderAlbunes {
    width: 90vw;
    overflow: auto;
}

.cajaSliderAlbunes::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
}

.cajaSliderAlbunes::-webkit-scrollbar-thumb {
    background: #03690b;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.cajaSliderAlbunes::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.cajaSliderAlbunes::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}


.cajaSliderAlbunes .col {
    margin: 0 50px;
}

.circulo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



@media (max-width: 768px) {

  .fondo{
    width: 400px;
    ;
  }

  .textp {
   font-size: 25px;
   text-align: left;
  }

  .carad2 {
    width: 200px;
  }

  .cajaSliderAlbunes {
    width: 90vh;
    overflow: auto;
    align-items: center;
    gap: 190px;
  }

  .cajaArtistas {
    width: 220px;
    height: 220;
    margin-left: 25px;
  }

  .circuloArtista {
    width: 180px;
    height: 180px;
  }

  .textCantante {
    margin-top: 10px;
  }

  .txtArtistaFinal {
    font-size: 12px;
}
}



@media (min-width: 768px) {

  .fondo{
    width: 905px;
    ;
  }

  .textp {
   font-size: 15px;
   text-align: left;
  }

  .carad2 {
    width: 200px;
  }

  .caja {
    background-color: #212121;
    width: 120px;
    width: 120;
}

  .cajaSliderAlbunes {
    width: 90vh;
    overflow: auto;
    align-items: center;
    gap: 150px;
  }

  .cajaArtistas {
    width: 220px;
    height: 220;
    margin-left: 25px;
  }

  .circuloArtista {
    width: 180px;
    height: 180px;
  }

  .textCantante {
    margin-top: 10px;
  }

  .txtArtistaFinal {
    font-size: 12px;
}
}






@media (min-width: 1190px) {

  .fondo{
    width: 1000px;
    ;
  }
  .caja {
    background-color: #212121;
    width: 190px;
    width: 190;
}
  .textp {
   font-size: 20px;
   text-align: left;
  }

  .carad2 {
    width: 200px;
  }

  .cajaSliderAlbunes {
    width: 90vh;
    overflow: auto;
    align-items: center;
    gap: 110px;
  }

  .cajaArtistas {
    width: 220px;
    height: 220;
    margin-left: 25px;
  }

  .circuloArtista {
    width: 180px;
    height: 180px;
  }

  .textCantante {
    margin-top: 10px;
  }

  .txtArtistaFinal {
    font-size: 12px;
}
}




@media (min-width: 1600px) {

  .fondo {
    width: 1400px;
  }




  .caja {
    background-color: #232323;
    width: 220px;
    }



  .carad2 {
    width: 200px;
    height: 230px;
    background-color: #232323;
    border-radius: 5px;
    transition: all .2s;
    margin-left: 10px;
    margin-right: 10px;
  }

  .cajaSliderAlbunes {
    width: 90vw;
    overflow: auto;
    gap: 40px;
  }



  .cajaArtistas {
    width: 230px;
    height: 250;
    margin-left: 40px;
    margin-right: 40px;
  }

  .circuloArtista {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
  }



  .txtArtistaFinal {
    font-size: 15px;
  }

}
