.alturaNav {
  margin-top: 10px;
  height: 60px;
  width: 1400px;
  margin-right: 377px;
}

.colorback {
  background-color: #121212 !important;
  border-radius: 25px;
}

.colorLetra {
  color: #d3c4c4 !important;
}

.colorSearch {
  background-color: #858080 !important;
  width: 400px !important;
}

.colorSearchB {
  background-color: #858080 !important;

}

.ui-btn {
  cursor: pointer;
  border-radius: 5px;
  color: rgb(219, 218, 218);
  border-style: solid;
  background-color: transparent;
  border-color: rgb(219, 218, 218);
  width: 120px;
  height: 40px;
  transition: 0.2s ease;
  text-transform: uppercase;
  border-width: 2px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
}

.ui-btn:hover {
  color: rgb(247, 247, 247);
  background-color: rgb(42, 145, 73);
  border-color: rgb(42, 145, 73);
  text-shadow: 0 0 50px white, 0 0 20px white, 0 0 15px white;
  box-shadow: 0 0 50px rgb(42, 145, 73), 0 0 30px rgb(42, 145, 73),
    0 0 60px rgb(42, 145, 73), 0 0 120px rgb(42, 145, 73);
  font-size: 20px;
  width: 130px;
  height: 50px;
  letter-spacing: 3px;
}

.ui-btn:active {
  width: 115px;
  height: 38px;
  letter-spacing: 0px;
}

.container-input {
  position: relative;
}

.input {
  width: 400px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 500px;
}

.paste-button {
  position: relative;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background-color: #03690B;
  color: #212121;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background-color: #212121;
  border: 2px solid #03690B;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #ffffff;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: #03690B;
  color: #fff;
}

.dropdown-content a:focus {
  background-color: #212121;
  color: #ffffff;
}

.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}

.menu {
  margin-right: 50px;
  transform: translateX(1200px);
  margin-top: -45px;
}

@media (max-width: 768px) {
  .alturaNav {
    margin-top: 8px;
    height: 80px;
    margin-right: 45px;

  }


  .input {
    width: 200px;

  }


  .input:focus {
    opacity:1;
    width: 350px;

  }


.menu{
  height: 30px;
  margin-left:9px;

}
.paste-button {
  position:sticky;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

}







@media (min-width: 768px) {
  .alturaNav {
    margin-top: 8px;
    height: 110px;
    margin-right: 45px;

  }


  .input {
    width: 400px;

  }


  .input:focus {
    opacity:1;
    width: 350px;

  }


.estilomenu{
  height: 30px;
  margin-left: 15px;
  transform: translateX(-500px);

}
.paste-button {
  position:sticky;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
}


@media (min-width: 1600px) {
  .alturaNav {
    margin-top: 8px;
    height: 80px;
    margin-right: 378px;

  }


  .input {
    width: 850px;

  }


  .input:focus {
    opacity:1;
    width: 350px;

  }


.estilomenu{
  height: 30px;
  margin-left: 15px;
  transform: translateX(-500px);

}
.paste-button {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
}
