<nav class="colorback navbar navbar-expand-lg bg-body-tertiary alturaNav ">
  <div class="container-fluid colorback ">



    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">

      <div>
        <!-- <form class="d-flex " role="search">
          <input class="form-control me-2 colorSearch" type="search" placeholder="Busca Canciones, Albumes, Artistas" aria-label="Search">
          <button class="btn btn-outline-success colorLetra colorSearchB" type="submit">Search</button>
        </form> -->
        <div class="container-input">
          <input type="text" placeholder="Busca Canciones, Albumes, Artistas" name="text" class="input">

          <svg fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z"
              fill-rule="evenodd"></path>
          </svg>






        </div>

        <div class="menu">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
          </button>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item  me-5">
              <div class="paste-button">
                <button class="button text-white"><i class="fa-regular fa-user me-1"></i><i class="fa-solid fa-bars"
                    style="color: #ffffff;"></i></button>
                <div class="dropdown-content">

                  <a id="top" href="#" routerLink="AdminAddArtist"><i class="fa-regular fa-square-plus me-2"
                      style="color: #ffffff;"></i> Agregar Artista</a>
                  <a id="top" href="#" routerLink="AdminAddAlbum"><i class="fa-regular fa-square-plus me-2"
                      style="color: #ffffff;"></i> Agregar Album</a>
                  <a id="top" href="#" routerLink="AdminAddSong"><i class="fa-regular fa-square-plus me-2"
                      style="color: #ffffff;"></i> Agregar Cancion</a>
                  <a id="bottom" href="#" (click)="cerrarSesion()"><i class="fa-solid fa-right-from-bracket me-2"
                      style="color: #ffffff;"></i> Cerrar Sesion</a>
                </div>
              </div>

            </li>

            <!-- <li class="nav-item me-4">
                <a class="nav-link active colorLetra" aria-current="page" href="#">Registrate</a>
                <button class="ui-btn w-100">Registrate</button>
              </li> -->

            <!-- <li class="nav-item box">
                <a class="nav-link colorLetra" href="#">Iniciar Sesion</a>

                <button class="ui-btn w-100 "> Cerrar Sesion</button>
              </li>
     -->


            <!-- <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li> -->

          </ul>
        </div>

      </div>

    </div>
  </div>