<section class="fondo mt-3">
  <div class="p-5">
    <div class="wd">
      <h1 class="textp fw-bold mb-5">Canciones Más Escuchadas</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-4">
      @for (songData of cancionesData(); track songData.albumId) {
      <app-musica-grilla [imagenCancion]="'http://localhost:4001/'+songData.image" [cancion]="songData.name"
        [cantante]="songData.artistId" [album]="songData .albumId">
      </app-musica-grilla>
      }
    </div>



    <hr role="presentation" class="LineaSeparacion">



    <section class="AlbumesDestacados">
      <div class="mt-1 me-5 row">
        <div class="col-12">
          <h1 class="textp fw-bold mb-4">Álbumes Destacados</h1>
        </div>
        <div class="d-flex cajaSliderAlbunes mt-3 align-items-start">

          @for (albumData of albumesData(); track albumData.albumId) {
          <div class="col-2 ">
            <div class="carad">
              <div>
                <app-albumes-grilla-principal [imagenAlbum]=" 'http://localhost:4001/'+albumData.image"        
                  [cantante]="albumData.artistId" [album]="albumData .albumId" [albumDataID]="albumData._id">

                </app-albumes-grilla-principal>
              </div>

             

            </div>
          </div>
          }
        </div>
      </div>
    </section>


    <hr role="presentation" class="LineaSeparacion">


    <!-- <section class="ArtistasTop">
      <div class="mt-5">
        <h1 class="textp fw-bold mb-3">
          Artistas Del Momento
        </h1>
      </div>

      <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">

        @for (artistaData of artistasData(); track artistaData.artistaId) {
          <app-artistas-grilla-principal  [imagenArtista]="artistaData.image" 
            [cantante]="artistaData.artistaId"  [artistaDataID]="artistaData._id">
          </app-artistas-grilla-principal>
          }
  

      </div>
    </section> -->

    <hr role="presentation" class="LineaSeparacion">

  </div>
</section>