.fondo {
  background-color: #121212;
  border-radius: 10px 10px 0px 0px;
  width: 1400px;
}

.LineaSeparacion {
  height: 60px;
  color: #121212;
}

img {
  border-radius: 5px;
}

.textp {
  color: #fff;
}

.txtArtista {
  color: #999999;
}

.caja {
  background-color: #232323;
  width: 250px;
}

.carad {
  width: 254px;
  height: 254px;
  transition: all .3s;
}

.carad2 {
  width: 200px;
  height: 230px;
  background-color: #232323;
  border-radius: 5px;
  transition: all .2s;
  margin-left: 10px;
  margin-right: 10px;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
  box-shadow: 0px 0px 30px 1px #ffffff4d;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px #ffffff4d;
}

.AlbumesDestacados {
  margin-top: 40px;
}

.textAlbum {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  transform: translateY(-12px);
}

.txtArtistaAlbum {
  font-size: 13px;
  color: #999999;
  transform: translateY(-20px);
}

.cajaSliderAlbunes {
  width: 90vw;
  overflow: auto;
}


.cajaSliderAlbunes::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}

.cajaSliderAlbunes::-webkit-scrollbar-thumb {
  background: #232323;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.cajaSliderAlbunes::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.cajaSliderAlbunes::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}


.cajaSliderAlbunes .col {
  margin: 0 50px;
}

.cajaArtistas {
  background-color: #232323;
  width: 230px;
  height: 250;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.circuloArtista {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
}

.textCantante {
  color: #fff;
  margin-top: 15px;
}

.txtArtistaFinal {
  color: #999999;
  font-size: 15px;
  transform: translateY(-8px);
}


@media (max-width: 768px) {

  .fondo{
    width: 400px;
    ;
  }

  .textp {
   font-size: 25px;
   text-align: left;
  }

  .carad2 {
    width: 200px;
  }

  .cajaSliderAlbunes {
    width: 90vh;
    overflow: auto;
    align-items: center;
    gap: 190px;
  }

  .cajaArtistas {
    width: 220px;
    height: 220;
    margin-left: 25px;
  }

  .circuloArtista {
    width: 180px;
    height: 180px;
  }

  .textCantante {
    margin-top: 10px;
  }

  .txtArtistaFinal {
    font-size: 12px;
}
}



@media (min-width: 768px) {

  .fondo{
    width: 1155px;
    ;
  }

  .textp {
   font-size: 35px;
   text-align: left;
  }

  .carad2 {
    width: 200px;
  }

  .cajaSliderAlbunes {
    width: 90vh;
    overflow: auto;
    align-items: center;
    gap: 150px;
  }

  .cajaArtistas {
    width: 220px;
    height: 220;
    margin-left: 25px;
  }

  .circuloArtista {
    width: 180px;
    height: 180px;
  }

  .textCantante {
    margin-top: 10px;
  }

  .txtArtistaFinal {
    font-size: 12px;
}
}






@media (min-width: 1190px) {

  .fondo{
    width: 1000px;
    ;
  }

  .textp {
   font-size: 35px;
   text-align: left;
  }

  .carad2 {
    width: 200px;
  }

  .cajaSliderAlbunes {
    width: 90vh;
    overflow: auto;
    align-items: center;
    gap: 110px;
  }

  .cajaArtistas {
    width: 220px;
    height: 220;
    margin-left: 25px;
  }

  .circuloArtista {
    width: 180px;
    height: 180px;
  }

  .textCantante {
    margin-top: 10px;
  }

  .txtArtistaFinal {
    font-size: 12px;
}
}




@media (min-width: 1600px) {

  .fondo {
    width: 1400px;
  }




  .caja {
    background-color: #232323;
    width: 250px;
    }



  .carad2 {
    width: 200px;
    height: 230px;
    background-color: #232323;
    border-radius: 5px;
    transition: all .2s;
    margin-left: 10px;
    margin-right: 10px;
  }

  .cajaSliderAlbunes {
    width: 90vw;
    overflow: auto;
    gap: 40px;
  }



  .cajaArtistas {
    width: 230px;
    height: 250;
    margin-left: 40px;
    margin-right: 40px;
  }

  .circuloArtista {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
  }



  .txtArtistaFinal {
    font-size: 15px;
  }

}
