.contenido {
    background-color: #121212;
    border-radius: 10px;
    width: 1389px;
    height: 3000px;
}

.TextoPrincipal {
    transform: translateY(44px);

}

.textp {
  color: #fff;
}

.artista {
    transform: translateY(40px);
}

.caja {
  background-color: #212121;
  width: 200px;
}

.carad {
  width: 190px;
  height: 254px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.carad2 {
  width: 190px;
  height: 254px;
  background-color: #000;

  transition: all .2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px #666;
}

.cajaSliderAlbunes {
  width: 90vw;
  overflow: auto;
}

.cajaSliderAlbunes::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}

.cajaSliderAlbunes::-webkit-scrollbar-thumb {
  background: #03690b;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.cajaSliderAlbunes::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.cajaSliderAlbunes::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}


.cajaSliderAlbunes .col {
  margin: 0 50px;
}

.circulo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("../../../assets/img/eladio-modified\ \(1\)-fotor-2024021221540.jpg");
}








@media (min-width: 768px) {

  s.contenido {
    background-color: #121212;
    border-radius: 10px;
    width: 1389px;
}

.TextoPrincipal {
    transform: translateY(44px);

}

.textp {
  color: #fff;
}

.artista {
    transform: translateY(40px);
}

.caja {
  background-color: #212121;
  width: 20px;
}

.carad {
  width: 1px;
  height: 254px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.carad2 {
  width: 190px;
  height: 254px;
  background-color: #000;

  transition: all .2s;
}


.circulo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("../../../assets/img/eladio-modified\ \(1\)-fotor-2024021221540.jpg");
}




}
