<section class="container contenido">
  <div class="mt-5 mb-5 ms-5">
    <h1 class="textp fw-bold">Descubre Todas Las Canciones</h1>
  </div>
  <div class="mt-5 mb-5 ms-5">
    <h3 class="textp fw-bold">Eladio Carrion</h3>
  </div>
  
  <div class="row row-cols-1 row-cols-md-5 g-6 ms-5">
    <div class="col mt-4">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col mt-4">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
  
  </div>
  <div class="mt-5 mb-5">
    <h3 class="textp">Eladio Carrion</h3>
  </div>
  
  <div class="row row-cols-1 row-cols-md-5 g-6">
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
  
  </div>
  <div class="mt-5 mb-5">
    <h3 class="textp">Eladio Carrion</h3>
  </div>
  
  <div class="row row-cols-1 row-cols-md-5 g-6">
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
  
  </div>
  <div class="mt-5 mb-5">
    <h3 class="textp">Eladio Carrion</h3>
  </div>
  
  <div class="row row-cols-1 row-cols-md-5 g-6">
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card caja ">
        <img src="../../../assets/img/solMaria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title textp">Sol Maria</h5>
          <p class="card-text textp">Eladio Carrion</p>
        </div>
      </div>
    </div>
  
  </div>
</section>