.Reproductor {
  background-color: #000;
  height: 100px;
}

img {
  width: 70px;
  height: 70px;
}

.artista {
  font-size: 15px;
  color: #aaa;
}

/* Corazon */

.heart-container {
  --heart-color: #03690B;
  position: relative;
  width: 20px;
  height: 20px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
  fill: #03690B;
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: #03690B;
  fill: #ffffff;
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

/* Reproductor */

.card__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.iconosReproductor {
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.card__time {
  font-weight: 400;
  font-size: 12px;
  color: #aaa;
}

.card__timeline {
  width: 100%;
  height: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card__timeline progress {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.card__timeline progress::-webkit-progress-bar {
  background-color: #aaa;
  border-radius: 100px;
}

.card__timeline progress::-webkit-progress-value {
  background-color: #ffffff;
  border-radius: 100px;
}

.card__btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.card__btn path {
  fill: #aaa;
}

.card__btn-play {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__btn-play path {
  fill: #fff;
}


/* level settings 👇 */

.slider {
  /* slider */
  --slider-width: 100%;
  --slider-height: 6px;
  --slider-bg: #eee;
  --slider-border-radius: 999px;
  /* level */
  --level-color: #03690B;
  --level-transition-duration: .1s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--slider-bg);
  --icon-size: 25px;
}

.slider {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider .volume {
  display: inline-block;
  vertical-align: top;
  margin-right: var(--icon-margin);
  color: var(--icon-color);
  width: var(--icon-size);
  height: auto;
}

.slider .volume:hover {
  color: #03690B;
}

.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
}

.slider:hover .level {
  height: calc(var(--slider-height) * 2);
}



@media (max-width: 768px) {

  .iconosReproductor {
    width: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .card__wrapper {
    display:none;

  }

.slider {
display: none;
}


.card__btn-play {
transform: translateX(250px);
height: -20px;
}

}
