.IniciarSesion {
    margin-top: 100px;
}

.TextoRegistro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.JGTS {
    width: 150px;
}


.LineaSeparacion {
    margin: 30px 0px;
    color: #efb810;
}

.LineaSeparacion2 {
    margin: 30px 0px;
    color: #7B0BAC;
}

.LineaSeparacion3 {
    margin: 30px 0px;
    color: #FF0004;
}

.imgAlbum {
    border: 2px solid #efb810;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #121212;
    padding: 30px;
    width: 1000px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 100px;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
    align-self: flex-end;
}

.flex-column>label {
    color: #fff;
    font-weight: 600;
}

.inputForm {
    background-color: #fff;
    border: 1.5px solid #efb810;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #efb810;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row>div>label {
    font-size: 14px;
    color: #efb810;
    font-weight: 400;
}

/* Hide the default checkbox */
.container input {
    display: none;
}


.button-submit {
    margin: 20px 0 10px 0;
    background-color: #efb810;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #f5d470;
}

.opacidadNO {
    opacity: 1 !important;
}

/* ALBUMES */

.imgAlbum2 {
    border: 2px solid #7B0BAC;
    border-radius: 5px;
}

.inputForm2 {
    background-color: #fff;
    border: 1.5px solid #7B0BAC;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.inputForm:focus-within {
    border: 1.5px solid #7B0BAC;
}

.button-submit2 {
    margin: 20px 0 10px 0;
    background-color: #7B0BAC;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.button-submit2:hover {
    background-color: #9125c0;
}


/* ARTISTAS */

.imgAlbum3 {
    border: 2px solid #FF0004;
    border-radius: 100px;
}

.inputForm3 {
    background-color: #fff;
    border: 1.5px solid #FF0004;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.inputForm3:focus-within {
    border: 1.5px solid #FF0004;
}

.button-submit3 {
    margin: 20px 0 10px 0;
    background-color: #FF0004;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.button-submit3:hover {
    background-color: #e64346;
}